public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ

public net.minecraft.client.settings.KeyBinding field_74513_e # pressed
public net.minecraft.client.settings.KeyBinding field_151474_i # pressTime
public net.minecraft.client.multiplayer.PlayerControllerMP field_78781_i # blockHitDelay
public net.minecraft.client.multiplayer.PlayerControllerMP field_78778_j # isHittingBlock
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f # curBlockDamageMP

public net.minecraft.client.Minecraft field_71428_T # timer

public net.minecraft.network.NetworkManager func_150733_h()V # flushOutboundQueue
public net.minecraft.network.NetworkManager func_150732_b(Lnet/minecraft/network/Packet;[Lio/netty/util/concurrent/GenericFutureListener;)V # dispatchPacket
public net.minecraft.network.NetworkManager field_181680_j # readWriteLock
public net.minecraft.network.NetworkManager field_150745_j # outboundPacketsQueue
public net.minecraft.network.NetworkManager$InboundHandlerTuplePacketListener

public net.minecraft.client.Minecraft func_147116_af()V # clickMouse
public net.minecraft.client.Minecraft func_147121_ag()V # rightClickMouse
public-f net.minecraft.client.Minecraft field_71449_j # session
public net.minecraft.client.Minecraft field_71467_ac # rightClickDelayTimer

public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V # setupCameraTransform

public net.minecraft.client.Minecraft field_71429_W # leftClickCounter

public net.minecraft.client.multiplayer.PlayerControllerMP field_78777_l # currentPlayerItem

# C01PacketChatMessage
public net.minecraft.network.play.client.C01PacketChatMessage field_149440_a # message

# C08PacketPlayerBlockPlacement
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149577_f # facingX
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149578_g # facingY
public net.minecraft.network.play.client.C08PacketPlayerBlockPlacement field_149584_h # facingZ

# C17PacketCustomPayload
public net.minecraft.network.play.client.C17PacketCustomPayload field_149561_c # data

# C03PacketPlayer
public net.minecraft.network.play.client.C03PacketPlayer field_149479_a # x
public net.minecraft.network.play.client.C03PacketPlayer field_149477_b # y
public net.minecraft.network.play.client.C03PacketPlayer field_149478_c # z
public net.minecraft.network.play.client.C03PacketPlayer field_149476_e # yaw
public net.minecraft.network.play.client.C03PacketPlayer field_149473_f # pitch
public net.minecraft.network.play.client.C03PacketPlayer field_149474_g # onGround
public net.minecraft.network.play.client.C03PacketPlayer field_149481_i # rotating

# S2EPacketCloseWindow
public net.minecraft.network.play.server.S2EPacketCloseWindow field_148896_a # windowId

# S27PacketExplosion
public net.minecraft.network.play.server.S27PacketExplosion field_149152_f # motionX
public net.minecraft.network.play.server.S27PacketExplosion field_149153_g # motionY
public net.minecraft.network.play.server.S27PacketExplosion field_149159_h # motionZ

# Entity
public net.minecraft.entity.Entity field_70134_J # isInWeb

# EntityLivingBase
public net.minecraft.entity.EntityLivingBase field_70773_bE # jumpTicks

# EntityPlayer
public net.minecraft.entity.player.EntityPlayer field_71072_f # itemInUseCount
public net.minecraft.entity.player.EntityPlayer field_71083_bS # sleeping
public net.minecraft.entity.player.EntityPlayer field_71076_b # sleepTimer
public net.minecraft.entity.player.EntityPlayer field_71102_ce # speedInAir

# ItemBucket
public net.minecraft.item.ItemBucket field_77876_a # isFull

public net.minecraft.network.play.server.S12PacketEntityVelocity field_149415_b # motionX
public net.minecraft.network.play.server.S12PacketEntityVelocity field_149416_c # motionY
public net.minecraft.network.play.server.S12PacketEntityVelocity field_149414_d # motionZ

public net.minecraft.client.renderer.EntityRenderer func_175069_a(Lnet/minecraft/util/ResourceLocation;)V # loadShader

public net.minecraft.client.Minecraft func_147115_a(Z)V # sendClickBlockToController

public net.minecraft.entity.Entity field_70151_c # fire